Aluno: Marcos Antônio Manfré Rós

Atividade 1

Exércicios do 1 ao 10

1.

In [ ]:
x = 0.0
type (x)

float

In [ ]:
y = 18
type (y)

int

In [ ]:
z = x + y
print (z)
type (z)

18.0

float

2

In [ ]:
a = 15
print (A)

NameError: ignored

a letra que recebeu a atribuição foi a minuscula, como a maiuscula não recebeu nada, o programa não encontra a atribuição.

3

In [ ]:
A = "Questão 3"
type (A)

str

In [ ]:
B = 25
type (B)

int

In [ ]:
C = 3.9
type (C)

float

4

In [ ]:
A = 14
B = 5
C = A + B
print (C)

19

In [ ]:
A = 14
B = 5
C = A - B
print (C)

9

In [ ]:
A = 14
B = 5
C = A * B
print (C)

70

In [ ]:
A = 14
B = 5
C = A / B
print (C)

2.8

In [ ]:
A = 14
B = 5
C = A // B
print (C)

2

In [ ]:
A = 14
B = 5
C = A % B
print (C)

4

In [ ]:
A = 14
B = 5
C = - A
print (C)

-14

In [ ]:
A = 14
B = 5
C = A ** B
print (C)

537824

5

In [ ]:
Base = 9
Altura = 6
Calculo_Area = Base * Altura
print (Calculo_Area)

54

6

In [ ]:
Base = int (input ("Digite a Base do Triangulo: "))
Altura = int (input ("Digite a Altura do Triangulo: "))
Calculo_Area = Base * Altura
print(Calculo_Area)

Digite a Base do Triangulo: 9
Digite a Altura do Triangulo: 6
54

7

In [ ]:
valor_hora = float (input ("Digite o valor da hora: "))
hora_trabalhada = int (input ("Digite as horas trabalhadas: "))
qt_hora_extra = int (input ("Digite as horas extras: "))
Hora_extra = (valor_hora * 2) * qt_hora_extra
Salario_horas = valor_hora * hora_trabalhada
Salario_Bruto = Salario_horas + Hora_extra
print ("O Salário bruto do profissional é de: ", end="")
print (Salario_Bruto)

Digite o valor da hora: 14.25
Digite as horas trabalhadas: 163
Digite as horas extras: 20
O Salário bruto do profissional é de: 2892.75

8

In [ ]:
A = 4
B = 5
C = 1
R = (A + B) / 2
print (R)

4.5

9

10

In [ ]:
Qt_ven = int (input ("digite a quantidade vendida: "))
Valor = float (input ("digite o valor unitário: "))
Venda = qt_ven * valor
print (Venda)

digite a quantidade vendida: 17
digite o valor unitário: 18

TypeError: ignored

Exércicios do 1 ao 20

1

In [ ]:
A = 0
B = -3
print (A > B)

True

In [ ]:
X = 3.7
print (X <= 10.0)

True

In [ ]:
A = 9
B = 16
print (A - B >= 0)

False

In [ ]:
A = 2
B = 4
N = 10
print (A * B < N)

True

In [ ]:
A = 3
B = 9
C = 5
print (10 * A >= B * C)

False

In [ ]:
A = 3
B = 6
C = 5
print (10 * A >= B * C)

True

In [ ]:
N = 7
print (N % 2 == 0)

False

In [ ]:
N = 8
print (N % 2 ==0)

True

In [ ]:
T = "MORANGO"
print (T == "BANANA")

False

In [ ]:
T = "MORANGO"
T > "BANANA"

True

2

In [ ]:
A = 10
B = 15
C = 4
print (A < B and A < C)

False

In [ ]:
A = 10
B = 15
C = 4
print (A < B or A < C)

True

In [ ]:
A = 1
B = 9
C = 0
print (A >= 0 and B == C)

False

In [ ]:
A = 1
B = 9
C = 9
print (A >= 0 and B == C)

True

In [ ]:
A = 1
B = 9
C = 0
print (A >= 0 or B == C)

True

In [ ]:
A = 1
B = 9
C = 9
print (A >= 0 or B == C)

True

In [ ]:
A = 0
B = 0
C = 0
print (B !=0 and A != C)

False

In [ ]:
A = 0
B = 0
C = 25
print (B != 0 and A != C)

False

In [ ]:
A = 0
B = 0
C = 0
print (B!= 0 or A != C)

False

In [ ]:
A = 0
B = 0
C = 25
print ( B!= 0 or A != C)

True

3

In [ ]:
A = 10
B = 15
C = 4
print (A < B and A < C or C != 0)

True

In [ ]:
A = 10
B = 15
C = 4
print (A < B and (A < C or C != 0))

True

In [ ]:
A = 1
B = 9
C = 0
print (not (A >= 0 and B == C))

True

In [ ]:
A = 1
B = 9
C = 9
print (not (A >= 0) and not (B == C))

False

In [ ]:
A = 1
B = 9
C = 0
print ((A >= 0 or B == C) and B > A)

True

In [ ]:
A = -2
B = 0
C = 2
print (not (A <= B) or C > B)

True

In [ ]:
A = -2
B = 0
C = 2
print (not (A <= 0) or C > B)

True

In [ ]:
A = 0
B = 1
C = 0
print (A == 0 and B != 0 and C == 0)

True

In [ ]:
A = 5
B = 0
C = 0
print (A == 0 and B != 0 and C == 0)

False

In [ ]:
A = 5
B = 0
C = 0
print (A == 0 or B != 0 or C == 0)

True

4

In [ ]:
N = int (input("Digite um número: "))
if N >= 0:
  print ("O número digitado é positivo")
else:
  print ("O número digitado é negativo")

Digite um número: 9
O número digitado é positivo

5

In [ ]:
N = int (input("Digite um número: "))
resultado = N % 2 
if N == 0:
  print ("O número digitado é par")
else:
  print ("O número digitado é ímpar")

Digite um número: 9
O número digitado é ímpar

6

In [ ]:
a = int (input("Primeiro número: "))
b = int (input("Segundo número: "))
menor = a
if b < a:
  menor = b
maior = a
if b > a:
  maior = b
print ("o menor valor digitado foi {}".format(menor))
print ("o maior valor digitado foi {}".format(maior))

Primeiro número: 9
Segundo número: 4
o menor valor digitado foi 4
o maior valor digitado foi 9

7

In [ ]:

r1 = float (input ("Primeiro número: "))
r2 = float (input ("Segundo número: "))
r3 = float (input ("Terceiro número: "))
if r1 < r2 + r3 and r2 < r1 + r3 and r3 < r1 + r2:
  print ("os números acima podem formar um triângulo ", end="")
  if r1 == r2 == r3:
    print ("Equiliátero!")
  elif r1 != r2 != r3 != r1:
    print ("Escaleno!")
  else:
     print ("Isóceles!")
else:
  print ("os números acima não podem formar triângulo")

Primeiro número: 4
Segundo número: 2
Terceiro número: 4
os números acima podem formar um triângulo Isóceles!

8

In [ ]:
nome = str (input("Digite o seu nome: "))
peso = int (input("Digite o seu peso: "))
print("o nome{}".format(nome))
if peso < 65:
  print("Categoria: Pena")
elif peso => 65 and < 72:
  print("Categoria: Leve")
elif peso => 72 and < 79:
  print("Categoria: Ligeiro")
elif peso => 79 and < 86:
  print("Categoria: Meio-médio")
elif peso => 86 and < 93:
  print("Categoria: Médio")
elif peso => 93 and < 100:
  print("Categoria: Meio-pesado")
elif peso => 100:
  print("Categoria: Pesado")

SyntaxError: ignored

9

In [ ]:
salario = int (input ("Digite o seu salário mensal: "))
hora_trabalhada = int (input ("Digite as horas trabalhadas: "))
salario_horas = salario / hora_trabalhada
print ("O Salário bruto do profissional é de: ", end="")
print (salario_horas)

Digite o seu salário mensal: 3000
Digite as horas trabalhadas: 220
O Salário bruto do profissional é de: 13.636363636363637

10

In [ ]:
print ("Iniciar programa")
Cont = 1
while Cont <= 10:
  print (Cont)
  Cont = Cont + 1
print ("Fim")

Iniciar programa
1
2
3
4
5
6
7
8
9
10
Fim

11

In [ ]:
num = int (input("Digite um número para a sua tabuada: "))
print ("{} x {:2} = {}".format(num, 1, num*1))
print ("{} x {:2} = {}".format(num, 2, num*2))
print ("{} x {:2} = {}".format(num, 3, num*3))
print ("{} x {:2} = {}".format(num, 4, num*4))
print ("{} x {:2} = {}".format(num, 5, num*5))
print ("{} x {:2} = {}".format(num, 6, num*6))
print ("{} x {:2} = {}".format(num, 7, num*7))
print ("{} x {:2} = {}".format(num, 8, num*8))
print ("{} x {:2} = {}".format(num, 9, num*9))
print ("{} x {:2} = {}".format(num, 10, num*10))

Digite um número para a sua tabuada: 7
7 x  1 = 7
7 x  2 = 14
7 x  3 = 21
7 x  4 = 28
7 x  5 = 35
7 x  6 = 42
7 x  7 = 49
7 x  8 = 56
7 x  9 = 63
7 x 10 = 70

12

13

In [ ]:
Soma = 0
Qtde = 0
X = 1
while X != 0:
  X = int (input ("Digite X:  "))
  if X != 0:
    Soma = Soma + X
    Qtde = Qtde + 1
print ("Total dos valores digitados = %d" % Soma)
print ("Quantidade de valores = %d" % Qtde)

Digite X:  10
Digite X:  40
Digite X:  50
Digite X:  3
Digite X:  5
Digite X:  6
Digite X:  0
Total dos valores digitados = 114
Quantidade de valores = 6

14

15

16